.ddgo_button{
    width: 48px;
    cursor: pointer;
    flex: 0 0 auto;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 40px;
    background-color: transparent;
    border: 0;
}